#about-section, #mission-statement-section {
    padding: 20px;
}

h3 {
    text-align: center;
}

#mission-statement-section {
    background-color: #ededed;
    margin-top: 20px;
}

#headline, #statement {
    font-style: italic;
    text-align: center;
    padding: 15px;
    margin-left: 25px;
    font-size: 16px;   
}

#about-details {
    font-size: 16px;
}

.list-inline {
    display: inline-block;
    margin-left: 25%;
}

#divider {
	margin-left: 40%;
}


