#main-header { 
    /*background: url("../../components/img/background.jpg");*/
    background-size: cover; 
    background-position: 50% 0%;
    border-radius: 4;
    margin-bottom: 20px;
    float: center;
    background-color: grey;

}
.greybg {
        background-color:#e3dfdf;  
}

h2 {
	text-align: center;
	margin-top: 0px;	
    font-family: 'Montserrat', sans-serif;
}

#formRow {
	margin-left: 5%;

}

#btn-search {
	margin-left: 7%;
	margin-top: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-style: italic;
}

#headline, #est-summary {
    font-style: italic;
    text-align: center;
    padding: 15px;
    margin-left: 25px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}


h6 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#btn {
    float: left;
    margin-top: 25px;
    margin-right:25px;
}

#searchbox {
    background-color: #e3dfdf;
    width: 40%;
    border-radius: 5px;
    padding: 20px;
}

#save-btn {
    padding: 5px;
    margin: 15px;
}

#divider4 {
    margin-left: 43%;
}

#divider5 {
    margin-left: 43%;
}

#message {
    margin-left: 30%;
    color: blue;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

#seed-videos {
    display: inline-block;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
