#main-header { 
    /*background: url("../../components/img/background.jpg");*/
    background-size: cover; 
    background-position: 50% 0%;
    border-radius: 4;
    margin-bottom: 20px;
    float: center;
    background-color: grey;

}

h2 {
	text-align: center;
	margin-top: 0px;	
}

#formRow {
	margin-left: 5%;

}

#btn-search {
	margin-left: 7%;
	margin-top: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-style: italic;
}

#headline, #est-summary {
    font-style: italic;
    text-align: center;
    padding: 15px;
    margin-left: 25px;
    font-size: 16px;
}


#results-section { 
    /*background: url("../../components/img/background.jpg");*/
    background-size: cover; 
    background-position: 50% 0%;
    border-radius: 4;
    margin-bottom: 0px;
    float: center; 
    margin-top: 20px;  
}

#articles-display {
    background-color: #9b6540;
}

h6 {
    color: black;
}

#btn {
    float: left;
    margin-top: 25px;
}

#searchbox {
    background-color: gray;
    width: 40%;
    border-radius: 5px;
    padding: 15px;
}

#save-btn {
    padding: 5px;
    margin: 15px;
}

#divider {
    margin-left: 41%;
}

#message {
    margin-left: 30%;
    color: blue;
    font-size: 30px;
}

#seed-videos {
    display: inline-block;
}

