button {
	font-family: 'Montserrat', sans-serif;
}

#btn-addcomments {
	margin-left: 12%;

}


#name-input {
	width: 90%;
	padding-left: 15px;
	font-family: 'Montserrat', sans-serif;
}

#comment-textarea {
	width: 90%;
	padding-left: 15px;
	padding-right: 10px;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	border: solid thin #cccccc;
	border-radius: 25px;
	overflow-y: auto;
	height: 75px;
}

.btn.btn-lg.btn-success {
	font-family: 'Montserrat', sans-serif;
}

#myModalLabel {
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

