
#why-hire-section, #services-section, #portfolio-section {
    padding: 20px;
}

h3 {
    text-align: center;
}

#intro, #summary, #portfolio {
    font-style: italic;
    text-align: center;
    padding: 15px;
    margin-left: 25px; 
    font-size: 16px;  
}

#detail-bio, li {
    font-size: 16px;
}

.list-inline {
    display: inline-block;
    margin-left: 25%;   
}

#divider {
	margin-left: 40%;
}

#home-why {
	float: right;
}

#appt {
    margin-left: 5%;
}







