
#why-hire-section, #portfolio-section {
    padding: 20px;
    margin-left: auto;
    margin-right:auto;
}
#services-section{
    padding: 20px;
    margin-left: auto;
    margin-right:auto; 
    background-color:#e3dfdf;  
}
h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

h3 {
    text-align: center;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;

}


#intro, #summary, #portfolio {
    font-style: italic;
    text-align: center;
    padding: 15px;
    margin-left: 23px; 
    font-size: 16px;  
}

#detail-bio, li {
    font-size: 16px;
    margin-left:25px;
}

.list-inline {
    display: inline-block;
    margin-left: 25%;   
}

#divider {
	margin-left: 50%;

}

#home-why {
	float: right;
    max-width:100%;
    min-width:50%;
}

#appt {
    margin-left: 5%;
}







