#footer {
	margin-top: 10%;
	padding: 20px;
	background-color: #e3dfdf;
	font-family: 'Montserrat', sans-serif;
}

.stickyFooter {
	background-color: black;
	color: white;
	height: 35px;
	padding: 8px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

#firstCol {
	margin-left: 15%;
}

#contactPage {
	
}
