

#contact-title {
    text-align: center;
}

#contact-subtitle {
font-weight:bold;
	text-align: left;
}
#contactNumber {
	font-family:'Open-Sans', arial, sans-serif;
	font-size:20px;
	margin-bottom:5px;
}

